{% extends "base.html" %}

{% block content %}
<h2>Dodaj nową książkę</h2>
<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Tytuł:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Autor:</label>
        <input type="text" class="form-control" id="author" name="author" required>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj książkę</button>
</form>
{% endblock %}