{% extends "base.html" %}

{% block content %}
<h3>Treść wybranego rozdziału:</h3>
<p>{{ chapter_text }}</p>

<!-- ćwiczenie 3
 {% if chapter_text == 1 %}
    <p>{{ chapters[1] }}</p>
{% elif chapter_text == 2 %}
    <p>{{ chapter_text[2] }}</p>
{% elif chapter_text == 3 %}
    <p>{{ chapter_text[3] }}</p>
{% elif chapter_text == 4 %}
    <p>{{ chapter_text[4] }}</p>
{% elif chapter_text == 5 %}
    <p>{{ chapter_text[5] }}</p>
{% elif chapter_text == 6 %}
    <p>{{ chapter_text[6] }}</p>
{% elif chapter_text == 7 %}
    <p>{{ chapter_text[7] }}</p>
{% elif chapter_text == 8 %}
    <p>{{ chapter_text[8] }}</p>
{% elif chapter_text == 9 %}
    <p>{{ chapter_text[9] }}</p>
{% elif chapter_text == 10 %}
    <p>{{ chapter_text[10] }}</p>
{% elif chapter_text == 11 %}
    <p>{{ chapter_text[11] }}</p>
{% elif chapter_text == 12 %}
    <p>{{ chapter_text[12] }}</p>
{% endif %} -->
{% endblock %}